//-----------------------COLOR PALLETTE---------------------------------------
$MainColorBlue: rgb(24, 29, 61);
$SecondPink: rgb(246, 86, 100);
$ThirdViolet: rgb(107, 49, 241);
$Babyblue: rgb(76, 126, 254);
$Orange: rgb(255, 143, 34);
$Background: rgb(245, 244, 249);
$White: rgb(255, 255, 255);
$Hint: rgb(142, 142, 142);

//------------------------FONTS---------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&display=swap');
$MainTypo: 'Manrope', sans-serif;

$BannerTextSize: 40px;
$TitleSize: 30px;
$BodyTextSize: 17px;

//-------------------------------GLOBAL HEADER------------------------------
header {

  position: fixed;
  width: 100%;
  height: 60px;
  background-color: $Background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-family: $MainTypo;
  padding: 0px 30px 0px 30px;
  transition: all .2s ease-in-out;
}

.onScroll {
  box-shadow: 0 0 10px #aaa;
  background-color: $MainColorBlue;

  .link {
    color: $White;
  }
}

body {
  background-color: $Background;
}

.titlesStyle {
  font-size: $TitleSize;
  font-weight: 700;
  font-family: $MainTypo;

  &.--blue {
    color: $MainColorBlue;
  }
  &.--pink {
    color: $SecondPink;
  }
}

.btn {
  background-color: $SecondPink;
  width: 250px;
  height: 42px;
  border-radius: 31.5px;
  border: none;
  color: $White;
  font-size: 17px;
  font-family: $MainTypo;
  font-weight: 700;

  &.--small {
    width: 140px;
  }

  &.--disabled {
    background-color: $Hint;
  }

  &.--blue {
    background-color: $MainColorBlue;
  }
  &.--pink {
    background-color: $SecondPink;
  }
}

.helpBtn {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: fixed;
  z-index: 30;
  bottom: 20px;
  right: 20px;
}

.input {
  width: 500px;
  height: 42px;
  border-radius: 31.5px;
  background-color: transparent;
  border: 1px solid $MainColorBlue;
}

