

//-------------------------------GLOBAL HEADER------------------------------
header {
    background-color: rgb(245, 243, 237);
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
    
  }